
body { 
    font-family: Arial, sans-serif; 
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    margin: 0; 
    padding: 0; 
}
.container { 
    max-width: 600px; 
    margin: 40px auto; 
    background: transparent;
    backdrop-filter: blur(20px); /* Applies blur to content behind this element */
    padding: 30px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


h1 { 
    color: #000000; 
}

label { 
    display: block; 
    margin-top: 18px; 
    font-weight: bold; 
}
input, select { 
    width: 100%; 
    padding: 8px; 
    margin-top: 7px; 
    border-radius: 20px; 
    border: 1px solid #ccc; 
}
.scale { 
    display: flex; 
    gap: 10px; 
}
.scale label { 
    font-weight: normal; 
}
button { 
    margin-top: 24px; 
    background: #000000; 
    color: #fff; 
    border: none; 
    padding: 12px 24px; 
    border-radius: 4px; 
    cursor: pointer; 
}
button:hover { 
    background: #000000; 
}
.timestamp { 
    margin-top: 20px; 
    font-size: 0.9em; 
    color: #555; 
}

.success-message {
    display: none;
    margin-top: 20px;
    padding: 12px;
    background: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
}
